@import './global.css';

main {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    min-height: 100vh;
    background-color: var(--bg-dark);
    justify-content: center;
}


#contentCtr {
    display: grid;
    grid-template: .25fr 1fr /  1fr;
}

#resumePaper {
    height: 850px;
    width: 600px;
    border: black solid 2px;
    padding: 10px 10px;
    margin: 10px 10px;
    box-shadow: 0px 0px 5px rgba(232, 231, 235, 1);
    background-color: var(--bg-light);
    justify-self: center;
    display: grid;
    grid-template: 90px 140px 1fr / 1fr;
    justify-self: start;
}

#resumeGenInfo {
    margin-top: 5px;
    border-bottom:3px solid black ;
    display: grid;
    grid-template: 80px / 1fr 1fr;
    align-items: end;
}

#placedName {
    font-size: 38px;

}

#addressCtr {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#resumeEdu {
    text-align: center;
    padding: 10px 20px;
    display: grid;
    grid-template: 30px 100px / 1fr 1fr 1fr;
    grid-gap: 1px;
}

#resumeEdu h3 {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content: center;
    align-items: end;
    border: 2px dotted black;
}

.eduEntry {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eduEntry p {
    font-size: 12px;
}

#resumeWH {
    padding: 10px 20px;
    display: grid;
    grid-template: 30px / 1fr;
    grid-auto-rows: 130px;
}

#resumeWH h3 {
    text-align: center;
    border: 2px dotted black;
}

#resumeWH p {
    font-size: 12px;
}

#resumeWH ul {
    list-style: none;
    padding: 0;
    font-size: 12px;
    margin-left: 30px;
}


#whSection {
    margin-top: 20px;
}

#activeTitle {
    font-size: 50px;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

#formCtr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#formTitles {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 54%;
    left: -17%;
}

.sectionTitle {
    padding: 20px 100px;
    font-size: 32px;
    border: solid black 1px;
    background-color: var(--bg-light);
    border-radius: 10px;
    max-width: 400px;
    min-width: 400px;
    height: 90px;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 80%);
    transition: transform 0.3s ease; 
    
}


.sectionTitle:hover {
    background-color: var(--primary-color);
    box-shadow: none;
    color: var(--lightText);
    cursor: pointer;
    transform: translateX(60%);
}



