@import './global.css';

main {
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
}

#sectionCtr {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#resumePaper {
    min-height: 100%;
    min-width: 500px;
    border: black solid 2px;
    padding: 10px 10px;
    margin: 10px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 80%);
}

