@import './global.css';

.school {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.eduLabel {
    min-width: 300px;
    text-align: center;
}

.btnCtr {
    display: flex;
    gap: 20px;
}

#eduForm {
    gap: 20px;
    display: none;
}


