@import './global.css';

.school {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.eduLabel {
    min-width: 300px;
    text-align: center;
}

.btnCtr {
    display: flex;
    gap: 20px;
}

#eduForm {
    gap: 20px;
    padding: 30px 50px;
    background-color: white;
    border: 2px white solid;
    border-radius: 10px;
    max-height: 250px;
    min-width:622px;
}


