@import 'global.css';

a {
    text-decoration: none;
}

footer {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    align-items: center;
    min-height: 300px;
    background-color: var(--primary-color);
}

.creatorInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blueBackText);
    gap: 30px;
}

.creatorInfo ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
}


.creatorInfo li {
    color: var(--blueBackText);
}

.placeholder {
    color: var(--blueBackText);
}