@import './global.css';

#genForm {
    gap: 20px;
    padding: 30px;
}

#genForm.visible {
    max-height: 300px;
    visibility: visible;
}

.formFields {
    display: flex;
    gap: 10px;
}

.genLabel {
    min-width: 100px;
    text-align: center;
    transform: translateY(5px);
}