@import './global.css';

#genCtr {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

#genTitle {
    padding: 20px 100px;
    font-size: 32px;
    border: solid black 1px;
    max-width: 400px;
    min-width: 400px;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 80%);
}

#genTitle:hover {
    background-color: var(--primary-color);
    box-shadow: none;
    color: var(--lightText);
    cursor: pointer;
}


#genForm {
    gap: 20px;
    padding: 30px;
    display: none;
}

.formFields {
    display: flex;
    gap: 10px;
}

.genLabel {
    min-width: 100px;
    text-align: center;
    transform: translateY(5px);
}