header {
    min-height: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #2A5D9F;
}

h1{
    background-color: rgba(0, 0, 0, 40%);
    border-radius: 10px;
    font-size: 52px;
    color: white;
    padding: 10px 20px;
    transform: translate(100vw, 50px);
    transition: transform 1s 1s ease-out;
}

.slide-in {
    transform: translate(400px, 50px);
}