@import './global.css';


#whForm {
    gap: 20px;
    padding: 30px 50px;
    background-color: white;
    border: 2px white solid;
    border-radius: 10px;
    max-height: 350px;
    min-width:622px;
    border: 2px solid black;
    box-shadow: 0px 0px 5px rgba(232, 231, 235, 1);
}

.jobInfo {
    display: flex;
    gap: 20px;
}

.whLabel {
    min-width: 150px;
    transform: translateY(3px);
}

#dateRangeCtr {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

#dateRange {
    display: flex;
    gap: 15px;
}

#jobBtnCtr {
    display: flex;
    gap: 20px;
}

