@import './global.css';


#whForm {
    
    gap: 20px;
}

.jobInfo {
    display: flex;
    gap: 20px;
}

.whLabel {
    min-width: 150px;
    transform: translateY(3px);
}

#dateRangeCtr {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

#dateRange {
    display: flex;
    gap: 15px;
}

#jobBtnCtr {
    display: flex;
    gap: 20px;
}

